@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

:root {
    --color-primary: #E6F4F1;
    --color-second: #57BCFF;
    --color-third: #010202;

    --font-principal: "Sono", serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-principal);
    text-decoration: none;
}

body {
    background-color: var(--color-primary);
}

#nav_bar {
    background: radial-gradient(#57BCFF, #3A82B2) !important; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
}

#btnSair {
    background-color: var(--color-primary) !important;
    color: var(--color-third);
    border: none;
    border-radius: 0 10px 0 10px;
    padding: 0.2rem 1.2rem;
    cursor: pointer;
}
#btnSair:hover {
    color: var(--color-second);
    background-color: var(--color-third) !important;
}
.container__content__links__link {
    color: var(--color-third);
    text-decoration: underline;
    cursor: pointer;
}

